.App {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #586069; }

a {
  text-decoration: none;
  color: #0366d6; }
  a:hover {
    text-decoration: underline; }
  a:visited {
    color: #0366d6; }
