.user-info {
  text-align: left;
  width: 250px;
  padding: 10px; }
  .user-info .avatar {
    border-radius: 5px; }
  .user-info p {
    font-size: 14px; }
  .user-info .names {
    color: black; }
    .user-info .names h1 {
      font-size: 32px;
      margin-bottom: 0;
      margin-top: 16px; }
    .user-info .names p {
      font-weight: 300;
      margin-top: 0;
      font-size: 24px; }
  .user-info ul {
    list-style: none;
    padding: 0;
    color: #24292e; }
    .user-info ul .fa {
      opacity: 0.8; }
    .user-info ul span {
      font-size: 14px;
      margin-left: 5px; }
