.user-info {
	text-align: left;
	width: 250px;
	padding: 10px;

	.avatar {
		border-radius: 5px;
	}

	p {
		font-size: 14px;
	}

	.names {
		color: black;
		h1 {
			font-size: 32px;
			margin-bottom: 0;
			margin-top: 16px;
		}
		p {
			font-weight: 300;
			margin-top: 0;
			font-size: 24px;
		}
	}

	ul {
		list-style: none;
		padding: 0;
		color: #24292e;

		.fa {
			opacity: 0.8;
		}

		span {
			font-size: 14px;
			margin-left: 5px;
		}
	}
}
